*{
    box-sizing: border-box;
}
body{
    margin: 0 0;
    padding: 0 0;
    background-color: #333333;
}
.container{
    max-width: 1920px;
    height: 1000px;
    background-image: url(../man-in-blue-and-brown-plaid-dress-shirt-touching-his-hair-897817.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    position: relative;
}
.balls__block{
    width: 50%;
    height: 100%;
    display: flex;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient( to right , rgba(224, 210, 195,0.8), rgba(51, 51, 51,0.8));
}
.balls{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.balls div{
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 50%;
}
.shadow__balls{
    display: flex;
    justify-content: center;
    align-items: center;
}
.shadow__balls div{
    width: 1.5vw;
    height: 0.3vw;
    border-radius: 50%;
    background-color: #333333;
    bottom: -5vh;
    left: 0;
    opacity: .2;
}
.shadow__balls div:nth-child(1){
    animation: shadow-1 .8s linear  infinite;
}
.shadow__balls div:nth-child(7){
    animation: shadow-2 .8s linear  infinite;
}
.balls div:nth-child(1){
    animation: div-1 .8s cubic-bezier(0.23, 1.37, 0.93, 1.01) infinite;
    background: linear-gradient( to right , rgba(245, 66, 66,1), rgba(238,158,109,1));
}
.balls div:nth-child(2){
    background: linear-gradient( to right , rgba(238,158,109,1), rgba(251, 255, 0,1));
}
.balls div:nth-child(3){
    background: linear-gradient( to right , rgba(251, 255, 0,1), rgba(132, 255, 0, 1));
}
.balls div:nth-child(4){
    background: linear-gradient( to right , rgba(132, 255, 0, 1), rgba(0, 229, 255, 1));
}
.balls div:nth-child(5){
    background: linear-gradient( to right , rgba(0, 229, 255, 1), rgba(0, 34, 255,1));
}
.balls div:nth-child(6){
    background: linear-gradient( to right , rgba(0, 34, 255,1), rgba(157,20,168,1));
}
.balls div:nth-child(7){
    background: linear-gradient( to right , rgba(157,20,168,1), rgba(245, 66, 66,1));
    animation: div-2 .8s cubic-bezier(0.23, 1.37, 0.93, 1.01) infinite;
}
@keyframes div-1{
    0% {
        transform: rotate(30deg) translate(-150%, -100%);
        
    }
    15% {
        transform: rotate(0deg) translate( 0, 0);
    }
    50% {
        transform: rotate(0deg) translate( 0, 0);
    }
    65% {
        transform: rotate(0deg) translate( 0, 0)
    }
    100% {
        transform: rotate(30deg) translate(-150%, -100%);
        
    }
}
@keyframes shadow-1{
    0% {
        opacity: 0;
        transform: rotate(0deg) translateX(-150%);
    }
    10% {
        opacity: .1;
        transform: rotate(0deg);
    }
    5% {
        opacity: .2;
        transform: rotate(0deg) translateX(0);
    }
    75% {
        opacity: .2;
        transform: rotate(0deg) translateX(0);
    }
    85% {
        opacity: .1;
        transform: rotate(0deg)translateX(-150%);
    }
    100% {
        opacity: 0; 
        transform: rotate(0deg);
    }
}
@keyframes div-2{
    0% {
        transform: rotate(0deg) translate(0, 0);
    }
    15% {
        transform: rotate(0deg) translate(0, 0);
    }
    25% {
        transform: rotate(-30deg) translate(150%, -100%);
    }
    50% {
        transform: rotate(-30deg) translate(150%, -100%);
    }
    65% {
        transform: rotate(0deg) translate(0, 0); 
    }
    100% {
        transform: rotate(0deg) translate(0, 0);
    }
}
@keyframes shadow-2{
    0% {
        opacity: .2;
        transform: translateX(0);
    }
    15% {
        opacity: .2;
    }
    20% {
        opacity: .1;
    }
    25% {
        opacity: 0;
        transform: translateX(150%);
    }
    50% {
        opacity: 0;
        transform: translateX(150%);
    }
    55%{
        opacity: .1;
    }
    65% {
        opacity: .2;
        transform: rotate(0deg) translateX(0);
    }
    100% {
        opacity: .2; 
        transform: rotate(0deg);
    }
}
.swords{
    width: 50%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: ease 1s infinite;
    top: 0;
    right: 0;
    z-index: 4;
    background: linear-gradient( to right , rgba(51, 51, 51,0.8), rgba(224, 210, 195,0.8));
}
.first__sword,
.second__sword,
.third__sword{
    display: flex;
    flex-basis: 40px;
    align-items: center;
}
.little__block,
.big__block{
    background-color: #ccc;
}
.black__block{
    width: 10px;
    height: 7px;
    background-color: #000;
}
.big__block{
    width: 175px;
    height: 8px;
}
.little__block{
    height: 8px;
    width: 25px;
}
.first{
    transition-duration: 0.5s, 0.5s;
    transform: translateY(-70px);
    opacity: 0;
}
.middle{
    transform: rotate(45deg) translate(-15px, 20px);
    transition-duration: 0.5s, 0.5s;
}
.last{
    transform: rotate(-45deg) translate(10px,-30px);
    transition-duration: .5s, 0.5s;
}

